h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
    font-size: 1.4em;
}
#microbiology-icon {
    position: relative;
    top: 0.28em;
}
p {
    font-family: "Open Sans", sans-serif;
}
.non-underline-link {
    text-decoration: none;
}
#disclaimer {
    position: sticky;
    top: 2%;
    z-index: 10;
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}